<div class="p-shadow-2 content-padding card-borders fill-screen">
  <div class="p-d-flex p-flex-column">
    <div class="p-mb-2 p-shadow-4 content-padding card-borders">



      <h1>POI</h1>
      <p-table [value]="cars">
        <ng-template pTemplate="header">
          <tr>
            <th>Placa</th>
            <th>Tempo</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car>
          <tr>
            <td>{{car.placa}}</td>
            <td>{{car.tempo}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>